.logger
    background-color: #111
    color: #0f0
    font-family: monospace
    height: 50vh
    overflow-y: scroll

    .logs,
    .options
        padding: 0
        list-style: none
        padding: 16px

        .log
            margin: 0 0 16px 0

    .option
        cursor: pointer
        padding: 4px 0
        &:hover
            color: #fff
