@import "../tokens"

.controls
    .options
        display: flex
        flex-direction: column
        list-style: decimal

        .option
            cursor: pointer
            padding: 4px 0

            &:hover
                color: #fff

        &.cards
            flex-direction: row

            .option
                margin: 0 8px

