$color-yellow: #FAD300
$color-pink: #FF00C2
$color-blue: #00c2FF
$color-black: #000000
$color-white: #ffffff

$main-color-foreground: $color-yellow
$main-color-background: $color-black
$main-color-strong: $color-white

$font-size-medium: 14px

