@import "../tokens"
.card__component
    $card-width: 200px
    border: 2px solid $main-color-foreground
    font-size: $font-size-medium
    width: $card-width
    height: $card-width
    display: flex
    flex-direction: column
    position: relative
    color: $main-color-foreground
    background-color: $main-color-background
    border-radius: 6px
    box-shadow: 0 0 2px 4px $main-color-background

    h1
        margin: 0
        font-size: 1rem
        padding: 8px 8px 0 16px
        text-align: center
        text-transform: uppercase

    .description
        border: 2px dashed $main-color-foreground
        margin: 8px
        padding: 8px
        flex-grow: 1

        legend
            font-size: 1rem
            margin: auto
            text-transform: capitalize

        ul
            padding: 0
            list-style: none

    .tooltips
        display: none
        pointer-events: none
        width: 250px
        position: absolute
        list-style: none
        top: 0
        left: $card-width
        background-color: $main-color-background
        border: 2px solid $main-color-foreground
        border-radius: 6px
        box-shadow: 0 0 2px 4px $main-color-background
        margin: 0 8px
        padding: 0

        li
            padding: 8px

        li + li
            border-top: 1px solid $main-color-foreground

    &:hover
        .tooltips
            display: block

